*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}


body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;


background:linear-gradient(
45deg,
#00ccff,
white,
#003399,
#001a4d
);


background-size:400% 400%;

animation:bg 10s infinite;


}


@keyframes bg{

0%{background-position:0% 50%;}

50%{background-position:100% 50%;}

100%{background-position:0% 50%;}

}




.login-box{

width:380px;

padding:35px;

text-align:center;


background:rgba(0,0,0,0.7);


border-radius:25px;


border:2px solid #00ccff;


box-shadow:

0 0 30px #00ccff,

0 0 70px #003399;


}



.login-logo{

width:120px;

height:120px;

border-radius:50%;


border:3px solid white;


box-shadow:

0 0 30px #00ccff;


}




h1{

color:white;

margin:20px;


text-shadow:

0 0 20px #00ccff;


}



input{


width:100%;

padding:14px;

margin:10px 0;


border-radius:25px;

border:none;


}





button{


padding:12px 30px;

margin-top:15px;


border-radius:25px;

border:none;


background:#008cff;


color:white;


cursor:pointer;


box-shadow:

0 0 20px #00ccff;


}




button:hover{


transform:scale(1.1);


}



.register-link{

margin-top:20px;

color:white;


}


.register-link button{

padding:8px 20px;

font-size:14px;


}